USA_Housing.csv
ecommerce_customer.csv
advertising 5.csv
Classified Data
KNNAlgorithmDataset.csv
KNN_Project_Data.csv
kyphosis.csv
loan_data.csv
data.csv
College_Data.csv
u.data
Movie_Id_Titles.csv
SMSSpamCollection
spam.csv
yelp-1.csv
yelp.csv
fake_reg.csv
kc_house_data.csv
cancer_classification.csv
Cancer_Data.csv
cancer_classification2.csv
lending_club_info.csv
lending_club_loan_two.csv